 @import url('https://fonts.googleapis.com/css?family=Open+Sans');

 @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html {
  height: 100%;
}

body {
  margin: 4rem 0;
  padding: 0 4rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

main {
  display: block;
  opacity: 0;
  animation: fadeIn ease-out 1;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

video {
  width: 50%;
  height: auto;
}


img {
  padding: 1rem 0;
  width: 5rem;
  height: 5rem;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #000;
  line-height: 1.4;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 300;
  color: #999;
  line-height: 1.4;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
}

a {
  color: #999;
  transition: color ease-in-out 50ms;
}

a:hover {
  color: #333;
}

a:focus {
  color: #000;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 20px 0;
}

.projects img {
  width: 100%;
  height: auto;
}

.links {
  color: #333;
  font-weight: 700;
}

.links h1:hover {
  color: red;
}


